/* ------------------------------------------------ */
/*          Shared by home.html, videos.html        */
/* ------------------------------------------------ */
.title {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding-bottom: 15px;
}

.searchBar {
    padding-top: 5px;
    padding-bottom: 20px;
}
/* ------------------------------------------------ */
/*                     home.html                    */
/* ------------------------------------------------ */
.padding-input {
    padding-right:1px;
}

.padding-submit {
    padding-left:1px;
}

.instructions {
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 20px;
    text-align:center;
    color: #696969;
}

.image {
    padding-left:65px;
}

.img-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.img-wrapper .btn1 {
    position: absolute;
    top: 33%;
    left: 23%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    padding: 12px 20px;
    background:transparent;
    border: none;
    color:transparent;
}

.img-wrapper .btn2 {
    position: absolute;
    top: 37%;
    left: 71%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    padding: 12px 20px;
    background:transparent;
    border: none;
    color:transparent;
}

.img-wrapper .btn3 {
    position: absolute;
    top: 45%;
    left: 100%;
    transform: translate(45%, -52%);
    font-size: 12px;
    padding: 12px 20px;
    background:transparent;
    border: none;
    color:transparent;
}

.img-wrapper .btn4 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-100%, -54%);
    font-size: 12px;
    padding: 180px 60px;
    background:transparent;
    border: 2px solid #4CAF50;
    color:transparent;
    box-shadow: 0 0 3px #4CAF50;
    border-radius: 25px;
}

.img-wrapper .btn5 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-100%, -54%);
    font-size: 12px;
    padding: 180px 60px;
    background:transparent;
    border: 2px solid #4CAF50;
    color:transparent;
    box-shadow: 0 0 3px #4CAF50;
    border-radius: 25px;
}

.img-wrapper .btn6 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-100%, -54%);
    font-size: 12px;
    padding: 180px 60px;
    background:transparent;
    border: 2px solid #4CAF50;
    color:transparent;
    box-shadow: 0 0 3px #4CAF50;
    border-radius: 25px;
}


/* ------------------------------------------------ */
/*                    videos.html                   */
/* ------------------------------------------------ */
.empty-content {
    background-color: #337ab7;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #fff;
    border-radius: 25px;
}

.space {
    padding-top: 180px;
}
